*.iml
.gradle
/local.properties
/key.properties
.DS_Store
/build
/captures
.externalNativeBuild
/.idea
*/build
*/release
/.kotlin
/iosApp/iosApp.xcodeproj/project.xcworkspace
/iosApp/iosApp.xcodeproj/xcuserdata
**/ApiKey.kt
